@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
:root{
  --dark:#2b2b2b;
  --pink:#d85698;
  --white: #ffffff;
  --grey:#efefef;
  --green:#00d5c2;
  --cyan:#00e0ff;
  --sky:#93B0E0;
  --yellow:#ffed00;
  --grey-dark:#727272;
}

*{
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--dark);
  height: 100vh;
  background: var(--light) ;
}